.container {
    background: #FFFFFF;
    border-radius: 6px;
    max-width: 960px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}

.card {
    padding: 0 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #757575;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
}

.popularityTitle::before {
    content: "POPULAR";
    display: inline-block;
    margin-right: 14px;
    padding: 4px 8px;
    font-family: 'Montserrat', sans-serif;
    background: #8d76be;
    border-radius: 4px;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    letter-spacing: 1.92px;
    color: #ffffff;
    
}

.price {
    position: relative;
    color: #212121;
    font-weight: 400;
    font-size: 72px;
    line-height: 89px;
    font-family: "Arvo", serif;
    padding-top: 16px;
    padding-bottom: 12px;

    &::before {
        content: "$";
        position: absolute;
        top: 20px;
        left: -3px;
        transform: translate(-100%, 0);
        color: #818181;
        font-family: "Arvo", serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 48px;
    }
}

.popularityPrice {
	color: #f05638;
}

.text,
.downloads {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    padding-bottom: 9px;
}

.memory {
    font-family: "Arvo", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    padding-top: 5px;
    margin-bottom: 27px;
}
